{
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "plugins": ["react-hooks"],
  "env": {
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "no-plusplus": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": [0],
    "react/no-array-index-key": [0],
    "react/no-danger": [0],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-boolean-value": "error",
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-curly-spacing": [ "error", "always" ],
    "react/jsx-equals-spacing": "error",
    "react/jsx-first-prop-new-line": "error",
    "react/jsx-handler-names": "error",
    "react/jsx-indent-props": [ "error", 2 ],
    "react/jsx-indent": [ "error", 2 ],
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": [ "error", { "maximum": 3 }],
    "react/jsx-no-bind": "error",
    "react/jsx-no-literals": "off",
    "react/jsx-no-target-blank": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-tag-spacing": "error",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}